<main id="main" class="main">


{% include 'view/hour-registration.html.twig' %}
    {% include 'view/billing.html.twig' %}
    {% include 'view/client-management.html.twig' %}
    {% include 'view/user-management.html.twig' %}
    {% include 'view/settings.html.twig' %}


</main><!-- End #main -->