/* general */
html {
    font-size: small;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.list-scroll {
    overflow-y: scroll;
    max-height: 70vh;
}

.header-nav {
    margin-right: 1%;
}

.header-company-name {
    margin-left: 3%;
}

.main-scroll {
    max-height: 84vh;
    overflow-y: scroll;
}

@media only screen and (max-width: 1300px) {
    .invisi-nav {
        display: none;
    }
}


/* user management */
.user-management-title {
    font-size: 18px;
    font-weight: 500;
    color: #012970;
    font-family: "Poppins", sans-serif;
    padding-left: 20px;
}

.user-management-form {
    padding-left: 50px;
    padding-top: 12px;
    padding-right: 50px;
}

.user-actief-label {
    margin-top: 15% !important;
    margin-right: 9%;
    margin-left: 9%;
}

.new-user-title {
    font-size: 25px;
}

.user-right {
    margin-left: 3%;
}


/* billing */
.billing-field {
    margin-left: 2%;
    width: 82%;
}

.billing-search {
    margin-top: 2.4%;
}


/* instellingen */
.settings-card {
    width: 75%;
    margin-left: 12%;
}

.settings-white-card {
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
    background-color: #fff;
    padding-left: 1.5%;
    padding-right: 1.5%;
    padding-top: 2%;
}

.activity-scroll {
    max-height: 52vh;
    overflow-y: scroll;
}


/*company management*/
.clientlist-scroll {
    max-height: 61vh;
    overflow-y: scroll;
}

.client-btn {
    width: 100%;
}

.client-management-title {
    font-size: 18px;
    font-weight: 500;
    color: #012970;
    font-family: "Poppins", sans-serif;
    padding-top: 1.5%;
}

.client-field-right {
    margin-left: 2%;
    width: 80%;
}

.field-client-data {
    width: 85%;
    margin-left: 5%;
}