/* general */
html {
    font-size: small;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.list-scroll {
    overflow-y: scroll;
    max-height: 70vh;
}

.header-nav {
    margin-right: 1%;
}

.header-company-name {
    margin-left: 3%;
}

/* user management */
.user-management-title {
    font-size: 18px;
    font-weight: 500;
    color: #012970;
    font-family: "Poppins", sans-serif;
    padding-left: 20px;
}

.user-management-form {
    padding-left: 50px;
    padding-top: 30px;
    padding-right: 50px;
}

.user-actief-label {
    margin-top: 15% !important;
    margin-right: 9%;
    margin-left: 9%;
}

.new-user-title {
    font-size: 25px;
}

.user-right {
    margin-left: 3%;
}


/* billing */
.billing-field {
    margin-left: 2%;
    width: 82%;
}

/* instellingen */
.instellingen-card {
    width: 75%;
    margin-left: 12%;
}